@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --primary-color: #00bbf9;
  --secondary-color: #fff;
}
* {
  box-sizing: border-box;
}
body {
  background-color: #f4f3ee;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  /* overflow: hidden; */
}

.description {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  text-align: center;
  color: var(--primary-color);
  max-width: 600px;
}

.description > * {
  font-weight: 400;
}

.carousel {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  height: 530px;
  width: 500px;
  overflow: hidden;
}
.image-container {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  width: 49.5%;
}

button:hover {
  opacity: 0.9;
}
button:focus {
  outline: none;
}
