@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}
body {
  background-color: #a8dadc;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  color: #1d3557;
}

.description {
  margin-top: 20px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.description h1 {
  margin-bottom: 20px;
}

.description h1,
h2 {
  color: #fff;
  font-weight: 400;
}

.content {
  margin-bottom: 20px;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  font-size: 18px;
}

input {
  width: 50px;
  padding: 5px;
  font-size: 18px;
  background-color: #a8dadc;
  border: none;
  text-align: center;
}

input:focus {
  outline: none;
}
