@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root{
--line-border-fill:#F2BDC1;
--line-border-empty:#f2f2f2;
--active-fill:#D9042B;
--active-border:#F24957;
}


*{
  box-sizing: border-box;
}
body{
  background-color: #f6f7fb;
  font-family: 'Muli', sans-serif;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:100vh;
  margin:0;
  overflow: hidden;
  position: relative;
}

.container{
  text-align: center;
}

.description{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom:20px;
}

.progress-container{
  display:flex;
  justify-content: space-between;
  position:relative;
  margin-bottom: 30px;
  max-width:100%;
  width:350px;
}


.progress-container::before{
  content:'';
  background-color: var(--line-border-empty);
  position:absolute;
  top:50%;
  left:0;
  height:4px;
  width:100%;
  transform:translateY(-50%);
  z-index:-1;
}


.progress{
  background-color: var(--line-border-fill);
  position:absolute;
  top:50%;
  left:0;
  height:4px;
  width:0%;
  transform:translateY(-50%);
  z-index:-1;
  transition: 0.4s ease;
}

.circle{
  background-color: var(--line-border-fill);
  color:#262626;
  border-radius: 50%;
  height:50px;
  width:50px;
  display:flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--line-border-empty);
  transition: 0.4s ease;
}

.circle.active{
  border-color:var(--active-border);
  background-color: var(--active-fill);
  color:#f2f2f2;
}

.btn{
  background-color: var(--active-border);
  color:#f2f2f2;
  border:0;
  border-radius: 6px;
  cursor:pointer;
  font-family: 'Muli', sans-serif;
  padding:8px 30px;
  margin:5px;
  font-size:14px;
}

.btn:active{
  transform:scale(0.98);
}

.btn:focus{
  outline:0;
}

.btn:disabled{
  background-color: var(--line-border-fill);
  cursor:not-allowed
}


