@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}
body {
  background-color: #e0afa0;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.description {
  font-family: "Roboto", sans-serif;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-bottom: 20px;
  max-width: 600px;
}

.description h1,
h2 {
  font-weight: 400;
  color: #f4f3ee;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.empty {
  height: 150px;
  width: 150px;
  margin: 10px;
  border: solid 3px #463f3a;
  background-color: #f4f3ee;
}

.fill {
  background-image: url("https://source.unsplash.com/random/150x150");
  height: 145px;
  width: 145px;
  cursor: pointer;
}

.hold {
  border: solid 5px #ccc;
}

.hovered {
  background-color: #333;
  border-color: #fff;
  border-style: dashed;
}

@media (max-width: 800px) {
  .content {
    flex-direction: column;
  }
}
